@import url('../../app/vars.css');

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: hsl(225deg, 40%, 2%);
    padding-top: 40px;
    padding-bottom: 80px;
    color: hsl(225deg, 46%, 95%);
    border-top: 10px hsl(225deg, 40%, 98%) solid;
}